<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="mySQL_225" connectionString="Server=192.168.174.225;Uid=root;Pwd=;Database=test_home;Port=3306;" />
  </connectionStrings>
  <appSettings>
    <!--生成配置：XEBS_138 BEGIN-->
    <!--数据库操作类路径-->
    <add key="OUTCALL_124_DIR_DBO" value="D:\DVCore\MySQLNet\CEBS.Web.Display\src\CEBS.Db.Crm.Data.DbOper" />
    <!--数据库模型类路径-->
    <add key="OUTCALL_124_DIR_MOD" value="D:\DVCore\MySQLNet\CEBS.Web.Display\src\CEBS.Db.Crm.Data.Model" />
    <!--数据库操作类命名空间-->
    <add key="OUTCALL_124_NAS_DBO" value="MySQLNet.Db.Crm.Data.DbOper" />
    <!--数据库模型类命名空间-->
    <add key="OUTCALL_124_NAS_DAT" value="MySQLNet.Db.Crm.Data.Model" />
    <!--数据库链接字符串前缀-->
    <add key="OUTCALL_124_MARK_CON" value="XEBS" />
    <!--生成配置：XEBS_138 END-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>